/* BOXES */

.snow-box
{
	width:90%;
	min-height:20px;
	margin:0 auto 0 auto;
	background-color:#EDEDED;
	-moz-border-radius:3px;
	-webkit-border-radius:16px;
	border-radius:16px;
	position:relative;
	-moz-box-shadow:0 8px 20px rgba(0,0,0,0.8);
	-webkit-box-shadow:0 8px 20px rgba(0,0,0,0.8);
	box-shadow:0 8px 20px rgba(0,0,0,0.8);
}
