*
{
	margin: 0;
	padding: 0;
}
html{
	overflow-x:hidden;
	overflow-y:hidden;
}
body
{
	display: flex;
	text-align:center;
	justify-content: center;
	align-items: center;
	/*min-height: 100vh;*/
	background: #222;
}
.clock
{
	width: auto;
	zoom: 4;
}
.flip-clock-dot
{
	background: rgb(18, 221, 96);
	/*background: #ffffff;*/
}
.flip-clock-meridium a
{
    color: rgb(255, 251, 0);
    /*color: #ffffff;*/
}
h1 {
    /*font-weight: bold;*/
    /*font-family: sans-serif, Times, TimesNR, 'New Century Schoolbook', Georgia, 'New York', serif;*/
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, sans-serif;
    /*font-family: "Helvetica Neue", Helvetica, sans-serif;*/
    color: rgb(238, 16, 201);
	text-align:center;
	zoom: 4;
}
h2 {
	zoom: 3.5;
}
#box
{
	display: table;
}
#content
{
	/*color: #fff;*/
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
#time-off
{
  height:50px;

}

